.container__decks {
    width: 1000px;
    margin: 2em auto;
}

.decks__header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1em;
}

.decks__button {
    width: 200px;
    height: 40px;
    background-image: linear-gradient(to right top, #6c5ce7, #5e77f3, #588ffb, #60a5fe, #74b9ff); 
    border-radius: 10px;
    border: none;
    font-size: 1em;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
}

.decks__button:hover {
    background: linear-gradient(90deg, #2F80ED, #56CCF2);
}