.container__deck {
  width: auto;
  min-width: 200px;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  background: #f9f4fb;
  border: 1px solid #55555541;
  border-radius: 10px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.container__deck:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container__cardsicons {
  display: flex;
  justify-content: flex-end;
}

.cards {
  font-size: 1rem;
  color: #555;
}

.title {
  font-size: 2em;
  color: #333;
  font-weight: 500;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  background: linear-gradient(to right top, #6c5ce7, #5e77f3, #588ffb, #60a5fe, #74b9ff); 
  color: #fff;  
  transition: background-color 0.3s ease;
}

.btn:hover {
  background: linear-gradient(90deg, #2F80ED, #56CCF2);}

.icon {
  font-size: 1.1em;
  margin-left: 0.2em;
  color: #444;
  cursor: pointer;
}

.icon:hover {
  color: #74B9FF;
}