* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    /* background: linear-gradient(180deg, #ffe6f7, #f9f9f9) */
}

body {
    background: linear-gradient(180deg, #ffe6f7, #f9f9f9)
}

a {
    text-decoration: none;
}