.banner {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  color: #333;
}

.banner__container {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.banner__text1 {
  font-size: 1.8em;
  font-weight: 600;
}

.banner__text {
  font-size: 1.2em;
}

.banner__button {
  width: 200px;
  height: 40px;
  background-image: linear-gradient(to right top, #6c5ce7, #5e77f3, #588ffb, #60a5fe, #74b9ff);
  border: none;
  border-radius: 10px;
  font-size: 1em;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
}

.banner__button:hover {
  background: linear-gradient(90deg, #2F80ED, #56CCF2);
}

.banner__image {
  width: 380px;
}
