.banner {
    width: 1000px;
    margin: auto;
  background: linear-gradient(135deg, #ffc2e1, #ff99cc);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 2em 2em 0;
}

.banner__container {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.banner__text1 {
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
  }

.banner__text {
  color: #fff;
  font-size: 1.2em;
}

.banner__button {
    width: 250px;
    height: 40px;
    background-color: #a100c9;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 400;
    cursor: pointer;
}

.banner__button:hover {
  background: #8100a7;
}

.banner__image {
  width: 350px;
}
